<!--Div inside which the labyrinth game will be displayed-->
<div style="width: 100%; height: 100%; background-color: black">
  <div id="gameContainer"></div>
  <div id="tutorial-box" *ngIf="tutorial">
    <div style="margin-top: 50px">
      <span>Please read the tutorial on your controller</span>
      <span *ngIf="dots == 3">...</span>
      <span *ngIf="dots == 2">..&nbsp;</span>
      <span *ngIf="dots == 1">.&nbsp;&nbsp;</span>
      <span *ngIf="dots == 0">&nbsp;&nbsp;&nbsp;</span>
    </div>
    <div style="margin-top: 30px">
      {{amountOfReadyPlayers}}/2
    </div>
  </div>
</div>


