.game-code-text {
  padding: 0 14px;
  margin: 0px;
}

.example-spacer {
  flex: 1 1 auto;
}

#tutorial-box{
  text-align: center;
  border: 3px solid purple;
  height: 180px;
  position: relative;
  width: 550px;
  margin: auto;
  color: white;
}

.myButton {
  color: white;
  width: 250px;
  height: 70px;
  border: 3px solid white;
  line-height: 40px;
  margin: auto
}

.selected {
  color: #69f0ae;
  border: 3px solid #69f0ae;
  cursor: pointer;
}

.myButton2:hover {
  color: #69f0ae;
  border: 3px solid #69f0ae;
  cursor: pointer;
}

.myButton2 {
  color: white;
  width: 200px;
  height: 60px;
  border: 3px solid white;
  line-height: 0px;
  margin: auto
}

.game-code-input{
  padding:8px;
  display:block;
  border:none;
  border-bottom:2px solid white;
  width:184px;
  background: transparent;
  color: white;
}

input:focus{
  outline: none;
}

.game-code-input:hover {
  border-bottom:2px solid #69f0ae;
}
