<!--Div inside which the labyrinth game will be displayed-->
<div style="width: 100%; height: 100%; background-color: black">
  <div style="position: absolute; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.6); color: white; text-align: center;" *ngIf="countdown != 0 && !tutorial">
    <p style="font-size: 40px; margin-top: 150px;">{{countdown}}</p>
  </div>
  <main *ngIf="building"><div id="gameContainer"></div></main>
  <div id="tutorial-box" *ngIf="tutorial">
    <div style="margin-top: 50px">
      <span>Bitte lest das Tutorial auf eurem Handy</span>
      <span *ngIf="dots == 3">...</span>
      <span *ngIf="dots == 2">..&nbsp;</span>
      <span *ngIf="dots == 1">.&nbsp;&nbsp;</span>
      <span *ngIf="dots == 0">&nbsp;&nbsp;&nbsp;</span>
    </div>
    <div style="margin-top: 30px">
      {{amountOfReadyPlayers}}/2
    </div>
  </div>
</div>


