<div *ngIf="!socketService.isConnected()" style="padding-top: 100px">
  <div id="connecting-box">
    <div style="margin-top: 50px">
    <span>Verbindet</span>
    <span *ngIf="dots == 3">...</span>
    <span *ngIf="dots == 2">..&nbsp;</span>
    <span *ngIf="dots == 1">.&nbsp;&nbsp;</span>
    <span *ngIf="dots == 0">&nbsp;&nbsp;&nbsp;</span>
  </div>
  </div>
</div>
<div *ngIf="socketService.isConnected()" style="width: 100%;">
  <div style="text-align: center; width: 100%; padding-top: 100px">
    <div class="myButton" (click)="createLobby()">
      <!-- <p style="margin-bottom: 0px">New Lobby</p> -->
      <p style="font-size: 60px;">Spielen</p>

    </div>
  </div>
  <!-- <div style="width: 200px; text-align: center; margin: 100px auto auto;">
    <input class="game-code-input" placeholder="Game Code" [(ngModel)]="joinLobbyCode" autofocus>
  </div>

  <div style="text-align: center; width: 100%; margin-top: 20px">
    <div class="myButton" (click)="joinLobby()">
      <p style="margin-bottom: 0px">Join</p>
    </div>
  </div>
</div> -->
